body {
    font-family: "Open Sans", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}


.secondary {
    background: #e5e7eb;
}

.one {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
    margin-bottom: 85px;
}

.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin-bottom: 120px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.companyname,
.tertiary {
    font-size: 30px;
    color: #F9FAF8;
}

.companyname {
    font-weight: 900;
}

.linkandsecondary,
.smol {
    font-size: 18px;
    color: #e5e7eb;
}

.subtext {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 425px;
}

#hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
}

.topbutton,
.bottombutton {
    background: #3882f6;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
   
}

.topbutton {
    border: 0;
}

.primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.four {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
    margin-left: 49px;
    gap: 250px;
}


.primarytext {
    margin-top: 55px;
    margin-bottom: 120px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
    color: #1F2937;
    justify-content: center;
    gap: 10px;
}

.subtexttwo {
    font-size: 18px;
    color: #1F2937;
}


.secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.quote {
    display: flex;
    flex-wrap: wrap;
    color: #1F2937;
    font-size: 36px;
    margin-top: 150px;
    width: 820px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 150px;
    padding-left: 515px;
}

.tertiary {
    background: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
    margin-right: 280px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    gap: 200px;
}

.time {
    font-weight: bold;
}

.bottombutton {
    border: 1;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}

.footer {
    font-size: 16px;
    color: #e5e7eb;
    padding: 25px;
}

.yam {
    width: 250px;
}